<app-headerbar class="fixed z-50"></app-headerbar>

<div class="flex flex-col w-full items-center justify-center mt-24">
    
    <div class="flex flex-col w-[1000px] p-6 text-text-text-primary gap-2">

        <span class="text-4xl font-bold mt-6">Get started </span>
        
        <span class="text-text-text-secondary mt-8">Start developing costumable and functional reuseable components with Pandom ui library.</span>
        <span class="text-text-text-secondary">Pandom leverages the utility-first principles of Tailwind CSS, offering a fully customizable set of UI components designed for flexibility and adaptability. While Pandom provides basic design patterns as examples, you will likely need to adjust them to align with the design system you're working with.</span>
        

        <span class="text-2xl font-medium mt-8">Setup </span>
        
        <span class="text-text-text-secondary mt-2">generate the stepper component</span>
        <div class="flex items-center gap-4">
            <span class="">Angular CLI</span>
            <span class="text-etma-neutral-800 font-normal rounded-[4px] bg-etma-neutral-100 px-2 py-1" >ng g c "your-desired-path"/"your-desired-component"</span>
        </div>
        <span class="text-text-text-secondary">insert code to the component file and you may need to change the color to your desired color</span>

        <span class="text-2xl font-medium mt-8">Make it yours! </span>
        
        <span class="text-text-text-secondary mt-2">There are several configurations in the components that need to be adjusted if you already have a design system.</span>
        <div class="flex items-center gap-4 mt-2">
            <span class="w-20">Colors</span>
            <span class="text-etma-neutral-800 font-normal rounded-[4px] bg-etma-neutral-100 px-2 py-1" >text | background | border | ring</span>
        </div>
        <div class="flex items-center gap-4">
            <span class="w-20">Fonts</span>
            <span class="text-etma-neutral-800 font-normal rounded-[4px] bg-etma-neutral-100 px-2 py-1" >family | size | weight</span>
        </div>
        <div class="flex items-center gap-4">
            <span class="w-20">Border</span>
            <span class="text-etma-neutral-800 font-normal rounded-[4px] bg-etma-neutral-100 px-2 py-1" >radius | width | color</span>
        </div>
        <span class="text-text-text-secondary mt-10">The purpose of this library is to provide developers with options and references for reusable components in Angular, so they don't have to build them from scratch.</span>

        <span class="text-2xl font-bold mt-10">Get help </span>
        <span class="text-text-text-secondary">Reach me out via <a class="font-medium text-etma-blue-500" href="https://www.linkedin.com/in/hilmy-abdurrahim-74354993/" target="_blank">linkedIn</a>  or <a class="font-medium text-etma-danger-600" href="https://www.instagram.com/abdurrahimhilmy/" target="_blank" >Instagram</a>.</span>

    </div>

</div>