<div [ngClass]="isMuted? 'pointer-events-none' : ''" class="relative">
    <div 
        [ngClass]="{
            'top-[32px]': label,
            'top-[4px]': !label,
            'bg-white' : isEnable,
            'bg-background-background-disabled' : !isEnable
        }"
        class="absolute flex h-4 w-4 p-[2px] right-[11px] z-10 ">
        <!-- <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.61407 6.14739C5.61405 6.1474 5.61404 6.14742 5.61402 6.14744M5.61407 6.14739L5.61402 6.14744M5.61407 6.14739L5.61402 6.14744M5.61407 6.14739L5.61402 6.14744M10.3998 9.8666L10.3857 9.85249L10.0605 9.52722L10.3998 9.8666ZM10.3998 9.8666V9.8666ZM5.61408 9.85255L5.61402 9.85249C5.61404 9.85251 5.61406 9.85253 5.61408 9.85255Z" fill="#4D4D57" stroke="#4D4D57"/>
        </svg> -->
        <mat-icon class="text-[#888895]" svgIcon="ph-regular:caret-up-down"></mat-icon>
    </div>
    <div 
        *ngIf="icon" 
        [ngClass]="{
            'top-[32px]': label,
            'top-[6px]': !label,
            'bg-white' : isEnable,
            'bg-background-background-disabled' : !isEnable
        }"
        class="absolute flex h-4 w-4 left-[10px] z-10 ">
        <mat-icon class="text-[#888895]" [svgIcon]="icon"></mat-icon>
    </div>
    <label *ngIf="label" [for]="id" class="block mb-2 text-sm font-medium text-[#333333] dark:text-white">{{label}} <span *ngIf="isRequired" class="text-text-text-danger">*</span></label>
    <select 
        [formControl]="control" 
        [id]="id" 
        [ngClass]="{
            'bg-background-background-disabled pointer-events-none': !isEnable,
            'pl-8': icon,    
            'pl-2': !icon,  
            'text-text-text-caption': control?.value === null,
            'text-text-text-primary': control?.value !== null,
        }" 
        class="cursor-pointer capitalize relative border-1[px] border-[#E4E4E7] text-sm rounded-lg focus:ring-primary-main focus:border-primary-main block w-full pl-3 py-[6px] dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    >
        <option selected disabled [ngValue]="null">{{placeholder}}</option>
        <option *ngFor="let option of options? options : [{title : control?.value, value : control?.value}]" class="text-text-text-primary capitalize" [ngValue]="option?.value">{{option?.title}}</option>
    </select>
</div>