<app-headerbar class="fixed z-50"></app-headerbar>

<div class="flex flex-col w-full items-center justify-center relative">
    <div class="static z-30 flex w-full items-center justify-center border-b bg-surface-surface-subtle">
        <div class="flex w-[1000px] items-center">
            <app-page-title
                class="flex w-full"
                [border]="false"
                title="Avatar"
                imageUrl="../../../../assets/images/avatar-illu.png"
                subtitle="An avatar is a digital icon that represents a user’s identity.">
            </app-page-title>
        </div>
    </div>
    <div class="flex w-full items-center justify-center border-b sticky top-14 z-20 bg-surface-surface-subtle">
        <div class="flex w-[1000px] items-center">
            <app-tab [tabs]="['usage','guide']" [selectedTab]="selectedTab" (onSelectTabEmit)="onSelectedTab($event)"></app-tab>
        </div>
    </div>
    <div @accordion *ngIf="selectedTab === 'usage'" class="flex flex-col w-[1000px] p-6 text-text-text-primary gap-2">
        
        <span class="mt-6">
            An avatar is a component that used as a visual identifier for a user or entity in digital spaces, often used in profiles, games, and forums to embody identity.
        </span>

        <span class="text-2xl font-medium mt-6">Default </span>
        
        <span class="text-text-text-secondary text-sm">Use square avatars to represent entities, such as projects, repositories, or spaces. If no image or icon is available, use initials as an identifier.</span>

        <app-code-highlighter [codeHtml]="yourCode" >
            <div class="flex w-full p-4 bg-background-background-subtle justify-between rounded-t-[4px]">
                <div class="flex flex-col gap-2">
                    <div class="flex gap-2 items-center">
                        <app-avatar title="HA" mode="normal"></app-avatar>
                        <app-avatar title="H" mode="compact"></app-avatar>
                        <app-avatar title="H" mode="compact" textSize="xxs"></app-avatar>
    
                    </div>
                    <span class="text-text-text-caption text-sm">
                        Default initial avatar
                    </span>
                </div>
                <div class="flex flex-col gap-2">
                    <button (blur)="onBlurButton()" class="relative">
                        <app-dropdown-card
                            (click)="onToggle()"
                            class="cursor-pointer"
                            title="Hilmy"
                            [isActive]="isExpand"
                            icon="ph-regular:caret-up-down"
                            iconStyle="secondary"
                            activeStyle="secondary"
                            cardStyle="full-header"
                            avatarStyle="compact"
                            avatarTextSize="sm"
                            [border]="true"
                            [iconButton]="false"
                        >
                        </app-dropdown-card>
                        <div @accordion *ngIf="isExpand" class="absolute rounded-md border shadow-sm z-50 top-10 left-[-28px] bg-white w-[232px] divide-y-2 overflow-hidden">
                            <app-dropdown-card
                                    class=""
                                    title="Hilmy"
                                    subtitle="hilmyabdurrrahim@gmail.com"
                                    cardStyle="normal"
                                    avatarTextSize="sm"
                                    [border]="false"
                                    [iconButton]="false"
                                >
                            </app-dropdown-card>
                            <div 
                                class="flex cursor-pointer p-2 px-3 text-etma-danger-500 hover:text-etma-danger-600 hover:bg-[#E4E4E7] gap-2 duration-150">
                                <div class="flex h-4 w-4">
        
                                    <mat-icon class="" svgIcon="ph-duotone:sign-out"></mat-icon>
                                </div>
                                Log out
                            </div>
                        </div>
                    </button>
                    <span class="text-text-text-caption text-sm">
                        Example usage on detail account
                    </span>
                </div>
            </div>
        </app-code-highlighter>

        <span class="text-2xl font-medium mt-6">Icon Color </span>

        <span class="text-text-text-secondary text-sm">You can adjust the color of the avatars to provide additional information about the entity, such as its status or whether it is disabled.</span>

        <app-code-highlighter [codeHtml]="yourCodeIcon">
            <div class="flex w-full p-4 bg-background-background-subtle justify-between rounded-t-[4px]">
                <div class="flex flex-col gap-2">
                    <div class="flex gap-2 items-center">
                        <app-avatar color="error" title="H" mode="normal" icon="ph-regular:codepen-logo"></app-avatar>
                        <app-avatar color="warning" title="H" mode="compact" textSize="xs" icon="ph-regular:codepen-logo"></app-avatar>
                        <app-avatar color="success" title="H" mode="compact" textSize="xxs" icon="ph-regular:codepen-logo"></app-avatar>
    
                    </div>
                    <span class="text-text-text-caption text-sm">
                        Colored icon avatar
                    </span>
                </div>
    
            </div>
        </app-code-highlighter>

        <span class="text-2xl font-medium mt-6">Image Rounded </span>

        <span class="text-text-text-secondary text-sm">Use a circle avatar to represent a person.</span>

        <app-code-highlighter [codeHtml]="yourCodeImage">
            <div class="flex flex-col gap-2">
                <div class="flex gap-2 items-center">
                    <app-avatar title="H" mode="normal" rounded="full" image="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"></app-avatar>
                    <app-avatar title="H" mode="compact" rounded="full" image="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"></app-avatar>
    
                </div>
                <span class="text-text-text-caption text-sm">
                    Image avatar
                </span>
            </div>
        </app-code-highlighter>

    </div>
    <div @accordion *ngIf="selectedTab === 'guide'" class="flex flex-col w-[1000px] p-6 text-text-text-primary gap-2">
        
        <span class="text-2xl font-medium mt-6">Installation </span>
        
        <span class="text-text-text-secondary text-sm">generate the avatar component</span>
        <div class="flex items-center gap-4 text-sm">
            <span class="">Angular CLI</span>
            <span class="text-etma-neutral-800 font-normal rounded-[4px] bg-etma-neutral-100 px-2 py-1" >ng g c "your desired path"/avatar</span>
        </div>
        <span class="text-text-text-secondary text-sm">insert code to the component file</span>

        <app-code-highlighter
            [buttonExpand]="false"
            [codeHtml]="codeHtmlAvatar" 
            [codeTs]="codeTsAvatar">
        </app-code-highlighter>

        <hr class="mt-6">
    
        <span class="text-2xl font-medium mt-6">Props </span>

        <app-props-wrapper
            class="mt-8"
            title="title"
            description="Used to provide custom content to screen readers. insert initial if there is no image or icon."
            type="string"
        >
        </app-props-wrapper>

        <app-props-wrapper
            class="mt-8"
            title="icon"
            description="An icon variable that will be showed. This example is using phosphor icon as it's package, you could adjust it by making change to mat-icon item in html."
            type="string"
        >
        </app-props-wrapper>

        <app-props-wrapper
            class="mt-8"
            title="image"
            description="A url to load an image from."
            type="string"
        >
        </app-props-wrapper>

        <app-props-wrapper
            class="mt-8"
            title="rounded"
            description="Settings to control the roundness of your avatar"
            type="'full' | 'edge'"
        >
        </app-props-wrapper>
        
        <app-props-wrapper
            class="mt-8"
            title="color"
            description="Settings to control the color of your avatar"
            type="'primary' | 'error' | 'success' | 'warning'"
        >
        </app-props-wrapper>

        <app-props-wrapper
            class="mt-8"
            title="mode"
            description="Settings to control the size of your avatar"
            type="'normal' | 'compact'"
        >
        </app-props-wrapper>

        <app-props-wrapper
            class="mt-8"
            title="textSize"
            description="Settings to control the size of your avatar text"
            type="'xxs' | 'xs' | 'sm'"
        >
        </app-props-wrapper>

    </div>

</div>