<div class="mb-2">
    <span 
        class=" text-etma-neutral-900 font-normal rounded-[4px] bg-etma-neutral-100 px-2 py-1" >
        {{title}}
    </span>
</div>
<hr>
<div class="flex gap-4 text-sm">
    <span class="w-20 px-2 py-[6px] font-medium text-xs text-etma-neutral-400">Description</span>
    <span 
        class="text-etma-neutral-800 font-normal rounded-[4px] px-2 py-1" >
        {{description}}
    </span>
</div>
<div class="flex items-center gap-4 text-sm">
    <span class="w-20 px-2 py-[6px] font-medium text-xs text-etma-neutral-400">Type</span>
    <span 
        class="ml-2 text-etma-neutral-900 text-xs font-normal rounded-[4px] bg-etma-neutral-100 px-1 py-1" >
        {{type}}
    </span>
</div>