<div class="flex w-[360px] flex-col max-h-[240px] rounded-md shadow border bg-white">
    <div class="flex rounded-b-md overflow-hidden">
        <div class="flex flex-col overflow-y-auto w-full scroll-smooth">
            <div (click)="onResultClick(result)" *ngFor="let result of searchResults" class="flex justify-between text-text-text-primary text-sm items-center gap-1 p-2 cursor-pointer hover:bg-background-background-base-hover">
                <span  [innerHTML]="highlightSearchTerm(result, searchTerm)"></span>
            </div>
        </div>
    </div>
</div>