<app-headerbar class="fixed z-50"></app-headerbar>

<div class="flex flex-col w-full items-center justify-center relative">
    <div class="static z-30 flex w-full items-center justify-center border-b bg-surface-surface-subtle">
        <div class="flex w-[1000px] items-center">
            <app-page-title
                class="flex w-full"
                [border]="false"
                title="Date Picker"
                imageUrl="../../../../assets/images/breadcrumb-illu.png"
                subtitle="Allow users to select date.">
            </app-page-title>
        </div>
    </div>
    <div [ngClass]="(this.isScrolled$ | async)? 'bg-surface-surface-subtle' : 'bg-gradient-to-br from-surface-surface-hover to-surface-surface-subtle'" (scroll)="this.onScroll($event)" class="flex w-full items-center justify-center border-b sticky top-14 z-20 shadow-sm-light duration-300">
        <div class="flex w-[1000px] items-center">
            <app-tab [tabs]="['usage','guide']" [selectedTab]="selectedTab" (onSelectTabEmit)="onSelectedTab($event)"></app-tab>
        </div>
    </div>
    <div @accordion *ngIf="selectedTab === 'usage'" class="flex flex-col w-[1000px] p-6 text-text-text-primary gap-2">
        
        <span class="mt-6">
            The Date Picker and Month Picker components are UI elements that allow users to select a date or month from a calendar. These components are commonly used in applications that require date-based interactions, such as scheduling applications.
        </span>

        <span class="text-2xl font-medium mt-6">Default </span>
        
        <span class="text-text-text-secondary text-sm"> Use default date picker if you want to select specific date with month and year</span>

        <app-code-highlighter [codeHtml]="yourCode">
            <div class="flex w-full p-4 bg-background-background-subtle justify-between rounded-t-[4px]">
                <div class="flex flex-col gap-2">
                    <div class="flex gap-2 items-center">
                        <app-date-picker></app-date-picker>
                    </div>
                    <span class="text-text-text-caption text-xs">
                        Default date picker
                    </span>
                </div>
            </div>
        </app-code-highlighter>

        <span class="text-2xl font-medium mt-6">Month picker </span>
        
        <span class="text-text-text-secondary text-sm"> Use month picker picker if you want to select specific month and year</span>

        <app-code-highlighter [codeHtml]="yourCode" class="pb-[400px]" >
            <div class="flex w-full p-4 bg-background-background-subtle justify-between rounded-t-[4px]">
                <div class="flex flex-col gap-2">
                    <div class="flex gap-2 items-center">
                        <app-date-picker [monthPicker]="true"></app-date-picker>
                    </div>
                    <span class="text-text-text-caption text-xs">
                        Month picker
                    </span>
                </div>
            </div>
        </app-code-highlighter>

    </div>
    <div @accordion *ngIf="selectedTab === 'guide'" class="flex flex-col w-[1000px] p-6 text-text-text-primary gap-2">
        
        <span class="text-2xl font-medium mt-6">Installation </span>
        
        <span class="text-text-text-secondary text-sm">generate the date picker component</span>
        <div class="flex items-center gap-4 text-sm">
            <span class="">Angular CLI</span>
            <span class="text-etma-neutral-800 font-normal rounded-[4px] bg-etma-neutral-100 px-2 py-1" >ng g c "your desired path"/date-picker</span>
        </div>
        <span class="text-text-text-secondary text-sm">insert code to the component file and you may need to change the color to your desired color</span>

        <app-code-highlighter
            [buttonExpand]="false"
            [codeHtml]="codeHtmlDatePicker" 
            [codeTs]="codeTsDatePicker">
        </app-code-highlighter>

        <hr class="mt-6">
    
        <span class="text-2xl font-medium mt-6">Props </span>

        <app-props-wrapper
            class="mt-8"
            title="control"
            description="Used to bind form control property to get the data."
            type="FormControl : string"
        >
        </app-props-wrapper>

        <app-props-wrapper
            class="mt-8"
            title="onFocusEmit"
            description="Used to catch the focus event trigger on the date picker input."
            type="EventEmitter : void"
        >
        </app-props-wrapper>

        <app-props-wrapper
            class="mt-8 pb-[400px]"
            title="onBlurEmit"
            description="Used to catch the blur event trigger on the date picker input."
            type="EventEmitter : void"
        >
        </app-props-wrapper>

    </div>

</div>